:root {
    --primary-color: #3D4EAF;
    --secondary-color: #00ABC4;
    --text-color: #777;
    --background-color: #F5F6FB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

header {
    background-color: white;
    color: black;
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header a {
    color: black;
    text-decoration: none;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
header nav ul li a:hover {
    color: var(--darkblue);
    border-bottom: 1px solid var(--darkblue);
}

.searchinput{
    padding: 10px;
    border: 1px solid var(--darkblue);
    border-radius: 4px;
}
.search{
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

/* Main Content */
.service-details {
    padding: 40px 0;
    text-align: center;
}

.service-details h2 {
    color: var(--primary-color);
    font-size: 32px;
    margin-bottom: 20px;
}

.service-details p {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.service-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.service-details h3 {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
